html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

body {
  -moz-user-select: none;
  font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #0d9bdf;
}

body, html, .swipe, .page-wrap {
  height: 100%;
  overflow: hidden;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

#hd-test{
    height: 46px;
    background-color: #ccc;
}
.hidden {
  display: none;
}

.page-wrap {
    margin: 0 auto;
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  position: relative;
}

.swipe-wrap > div {
  text-align: center;
  box-sizing: border-box;
}

.page{
    background: url(http://img.to8to.com/wap/v2/bg.png);
}
.page .page-bg {
  width: 100%;
  /*height: 100%;*/
  display: block;
  border: 0;
}
.page-hd{
    position: absolute;
    top:15.66%;
    width: 81.875%;
    left: 9.0625%;
}
.page-share{
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    margin-left: -31px;
}
.page-share-wx{
    top:35.421%;
}
.page-share-wb{
    top:64.636%;
}
.slide-nav {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -63px;
}
.slide-nav li {
  height: 6px;
  width: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  margin-bottom: 11px;
}
.slide-nav li.active {
  background-color: white;
}
.slide-nav li:last-of-type {
  margin-bottom: 0;
}
.copyright{
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}
