<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th><td align="right"></td><td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data"> 
	<h4 class="tip-notice">鉴于部分测试者破坏模版，演示版暂时关闭模版管理，购买之后才有此功能<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=565016324&site=qq&menu=yes" title="点击咨询"><img border="0" src="http://new.fujuzx.com/static/images/icon/qq.png" style="vertical-align:middle"/></a> 联系购买。<a href="http://521ym.taobao.com" target="_blank">http://521ym.taobao.com</a>[模版切换请到城市管理操作]</h4>
</div>
<{include file="admin:common/footer.html"}>